<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Make our planet great again{% endblock %}</title>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
</head>
<body>
{% load static %}
    <nav>
        <div class="nav-wrapper light-green">
            <a href="{% url 'home' %}" class="brand-logo">Green starter</a>
            <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'karma:index' %}">Karma</a></li>
                <li><a href="{% url 'user:index' %}">User</a></li>
                <li><a href="{% url 'project:index' %}">Project</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="sidenav">
        <li></li>
        <li>
            <div class="user-view">
                <div class="background darken-3 light-green"></div>
                <a href="#user"><img class="circle" src="{%  static "images/user.png" %}"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="{% url 'karma:index' %}">Karma</a></li>
        <li><a href="{% url 'user:index' %}">User</a></li>
        <li><a href="{% url 'project:index' %}">Project</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>

    <main>
        {% block content %}
            Page non trouvée ...
        {% endblock %}
    </main>

    {% block js %}
        <script>
            // Instanciations des éléments graphiques materialize
            document.addEventListener('DOMContentLoaded', function() {
                var
                    selectElements = document.querySelectorAll('select'),
                    sidenavElements = document.querySelectorAll('.sidenav')
                ;
                M.FormSelect.init(selectElements);
                M.Sidenav.init(sidenavElements);
            });
        </script>
    {% endblock %}
</body>
</html>