<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Make our planet great again{% endblock %}</title>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'karma:index' %}">Karma</a></li>
            <li><a href="{% url 'user:index' %}">User</a></li>
            <li><a href="{% url 'project:index' %}">Project</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </nav>

    {% block content %}
        <h1>base</h1>
    {% endblock %}
</body>
</html>