{% extends "base.html" %}
{% load material_form %}

{% block title %}Karma{% endblock %}

{% block content %}
    <h1>Karma index--</h1>
    <ul>
        {% for karma in karmas %}
        <li>{{ karma.valeur }}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'karma:index' %}" method="post">
        {% csrf_token %}
        {% form %}
            {% part form.valeur prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
        {% endform %}
        <input type="submit" class="btn" value="Submit">
    </form>
{% endblock %}
