{% extends 'base.html' %}
{% load material_form %}

{% block content %}
    <h1>Ajout d'un projet</h1>
<div class="container">
    <div class="card">
        <form action="{% url 'project:add' %}" method="post">
            {% csrf_token %}
            {% form %}
                {% part form.titre prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
            {% endform %}
            <input type="submit" class="btn" value="Submit">
        </form>
    </div>
</div>
{% endblock %}