{% extends "base.html" %}
{% load material_form %}

{% block title %}Note{% endblock %}

{% block content %}
    <h1>Le classement des projets avec leur notes</h1>
    <p>( à enlever probablement ) </p>
    <ul>
        {% for note in notes %}
        <li>{{ note.projet }}</li>
        <li>{{ note.valeur }}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'note:index' %}" method="post">
        {% csrf_token %}
        {% form %}
            {% part form.projet prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
            {% part form.valeur prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
        {% endform %}
        <input type="submit" class="btn" value="Submit">
    </form>
{% endblock %}
